#audio-call{
    .play-audio{
        cursor: pointer;
    }
    .right-answer-viewer{
        font-family: monospace;
        font-size: 22px;
        height: 60px;
        width: 100px;
    }
    .answer-buttons{
        .variant{
            border-color: rgb(169, 190, 47);
        }
    }
}