.nav {
  .nav-item {
    margin-bottom: 15px !important;

    &:hover {
      background-color: #0d6efd;
      border-radius: 5px;
    }

    .nav-icon {
      width: 30px;
    }

    .nav-name {
      margin-left: 10px;
    }
  }

  .profile__wrapper {
    padding: 0.5rem 1rem;
    cursor: pointer;
    .rsschool-link {
      width: 80px;
      display: block;
      margin: 0 auto;
    }
    .devs {
      width: 100%;
      ul {
        display: flex!important;
        justify-content: space-between;
      }
    }
    .link {
      display: block;
      width: 30px;
      height: 30px;
    }
  }
}
