.nav-icon {
  width: 30px;
}

.nav-name {
  margin-left: 10px;
}

.nav-item:hover {
  background-color: #0d6efd;
  border-radius: 5px;
}

.nav-item {
  margin-bottom: 15px !important;
}

.bi {
  width: 30px;
  height: 30px;
}

.profile__wrapper {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
