#about {
  display: flex;
  justify-content: center;
  align-items: center;
  .about-us-wrapper {
    .dev__wrapper {
      a { 
        display: block;
        text-decoration: none;
        color: none;
      }
    }
    width: 900px;
    .about-us {
      display: flex;
      justify-content: space-between;
      align-items: center ;
    }
  }
}
