#dictionary {
  background-color: antiquewhite;
}

.title-dictionary {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.info-dictionary {
  font-size: 22px;
  text-align: center;
}
