#games {
  display: flex;
  background-color: rgb(221, 117, 137);
  .game-button{
    position: relative;
    display: block;
    margin: auto auto;
    width: 200px;
    height: 200px;
    background-color: rgb(238, 70, 40);
    border-radius: 8px;
    border: 8px solid rgb(255, 44, 44);
    cursor: pointer;
    transition: all 0.5s ease;
    p{
      font-family: sans-serif;
      font-size: 26px;
      color: black;
      position: absolute;
      opacity: 0;
      transition: all 0.5s ease;
      top: -48px;
    }
    &:hover{
      background-color: rgb(23, 168, 168);
      >p{
        opacity: 1;
      }
    }

  }
}

#audio-call{
  background-color: rgb(39, 131, 167);
}

#sprint{
  background-color: rgb(39, 167, 60);
}

.game-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .game-title{
      font-family: sans-serif;
      font-size: 56px;
      text-align: center;
  }
  .game-description{
      text-align: center;
      font-family: sans-serif;
      font-size: 18px;
      margin: 10px 15%;
  }
  .start-game{
      color: rgb(77, 77, 77);
      font-family: sans-serif;
      font-size: 26px;
      align-self: center;
      background-color: transparent;
      border: 3px solid rgb(77, 77, 77);
      border-radius: 10px;
      height: 50px;
      width: 150px;
      cursor: pointer;
      &:hover{
          color: rgb(207, 44, 44);
          border: 3px solid rgb(207, 44, 44);
      }
  }
  .difficulty-selection-container{
      display: flex;
      justify-content: space-around;
      .unit-item{
          color: rgb(77, 77, 77);
          display: block;
          font-size: 22px;
          text-align: center;
          margin: 5% 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid rgb(77, 77, 77);
          cursor: pointer;
          transition: all 0.5s ease;
      }
      input[type="radio"]{
          opacity: 0;
          &:checked + label{
              color: rgb(126, 19, 76);
              border-color: rgb(126, 19, 76);
          }
      }
  }
}