#sprint{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    .timer{
        margin: 30px auto;
        font-family: monospace;
        font-size: 36px;
    }
    .score{
        margin: 30px auto;
        font-family: monospace;
        font-size: 32px;
    }
    .word-translate-container{
        margin: 30px auto;
        font-family: monospace;
        font-size: 32px;
    }
    .answer-buttons{
        margin: 30px auto;
        button{
            width: 100px;
            height: 60px;
            background-color: transparent;
            font-family: monospace;
            font-size: 22px;
            &:hover{
                opacity: 1;
            }
        }
        .true{
            opacity: 0.5;
            color: rgba(0, 90, 0);
            border: 3px solid green;
        }
        .false{
            opacity: 0.5;
            color: rgba(255, 0, 0);
            border: 3px solid red;
        }
    }
}