#sprint{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    .timer{
        margin: 30px auto;
        font-family: monospace;
        font-size: 36px;
    }
    .score{
        margin: 30px auto;
        font-family: monospace;
        font-size: 32px;
    }
    .word-translate-container{
        margin: 30px auto;
        font-family: monospace;
        font-size: 32px;
    }
    .answer-buttons{
        margin: 30px auto;
        button{
            width: 100px;
            height: 60px;
            background-color: transparent;
            font-family: monospace;
            font-size: 22px;
            &:hover{
                opacity: 1;
            }
        }
        .true{
            opacity: 0.5;
            color: rgba(0, 90, 0);
            border: 3px solid green;
        }
        .false{
            opacity: 0.5;
            color: rgba(255, 0, 0);
            border: 3px solid red;
        }
    }
    .results-viewer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        background-color: aliceblue;
        width: 400px;
        height: 400px;
        .results-container{
            overflow: auto;
            &::-webkit-scrollbar{
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                background-color: darkgrey;
            }
            &::-webkit-scrollbar-thumb {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }
            p{
                &::after{
                    display: block;
                    content: '';
                    height: 3px;
                    border-radius: 10px;
                    width: 100%;
                }
                &.right::after{
                    background-color: green;
                }
                &.wrong::after{
                    background-color: rgb(128, 0, 0);
                }
                margin: 10px;
                font-family: sans-serif;
                font-size: 19px;
            }
            ul{
                margin-left: 30px;
                li{
                    font-size: 16px;
                }
            }
        }
        .result-navigation-buttons{
            margin: 10px;
            display: flex;
            justify-content: space-around;
            a{
                display: block;
                text-align: center;
                color: black;
                text-decoration: none;
                font-family: sans-serif;
                font-size: 15px;
                width: 100px;
                height: 50px;
                border: 0;
                border-radius: 10px;
                background-color: rgb(89, 192, 111);
                &:hover{
                    background-color: rgb(22, 190, 59);
    
                }
            }
        }
    }
    
}